body {
	margin: 0;
}
#navbar_container {
	background-color: #001a27;
	position: fixed;
	width: 100%;
	top: 0;	
	z-index: 100;
}
#navbar_container p {
	font-size: 14px;
	margin-top: 3em;

}
a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	color: #e06f1c;
}
.slide_pic {
	width: 100%;
}
.cycle-pager{
	position: absolute;
	z-index: 500;
	color: #747474;
	bottom: 220px;
	left: 160px;
}
.cycle-pager span {
	font-size: 55px;
}
.cycle-pager span.cycle-pager-active { 
	color: white;
}
.cycle-pager > * { 
	cursor: pointer;
}
.cycle-overlay{
	position: absolute;
	z-index: 500;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	bottom: 300px;
	left: 160px;
	font-size: 25px;
	width: 25%;
}
#slideshow_container {
	margin-top: 101px;
	max-width: 100%;
	max-height: 100%;
	z-index: 0;
}
#crew_container {
	background-color: #f2eeed;
	margin: 0;
}
#crew_container h1, #contact_container h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #747474;
	margin-bottom: 0em;
	margin-top: 2em; 
	font-size: 28px;
}
.sub_head{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #c0bab8;
	margin: 0em;
	margin-bottom: 7em;
	font-size: 16px;
}
#crew_container h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #95999b;
	font-size: 24px;
	text-align: center;
}
.crew_info{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #747474;
	font-size: 12px;
	text-align: center;
	margin-bottom: 13em;
}
.crew_pic{
	margin: auto;
	display: block;
}
#contact_container{
	background-color: #e1dddc;
}
#map p{
	margin-bottom: 0.5em;
}
#contact_form .sub_head{
	margin-bottom: 1em;
}
#map_pic{
	margin-bottom: 9em;
}
#footer_container{
	background-color: #1d2c33;
}
.text{
	background-color: #e1dddc;
	color: #c0bab8;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	width: 355px;
	padding: 1em;
	margin-bottom: 1.5em;
	border-color: #c0bab8;
	border: solid 2px; 
}
.btn{
	float: right;
	display: block;
}
#foot_pic{
	margin-top: 2.3em;
}

@media screen and (max-width: 960px){

.logo_pic{
	width: 140px;
}
#nav1{
	width: 140px;
}
#nav2{
	width: 220px
}
#crew_header{
	width: 350px;
}
#navbar_container .container{
	width: auto;
}
#contact_form{
	/*width: 50%;*/
}
#map{
	/*width: 50%;
	padding: 0;*/
	clear: both;
	padding: 0;
}
#contact_container .container{
	margin-right: 40px;
	margin-left: 40px;
	width: auto;
}
.cycle-pager{
	bottom: 180px;
	left: 160px;
}
.cycle-overlay{
	font-size: 20px;
	bottom: 260px;
	left: 160px; 
}

}

@media screen and (max-width: 767px){

#map{
	clear: both;
}
#mobile_nav{
	width: 140px;
}
#nav1 p, #nav2 p{
	font-size: 13px;
	margin-top: 45px;
}
#nav1, #nav2{
	margin-left: 25px; 
}
#nav2{
	width: 150px;
}
#footer_container .container{
	margin: 0;
	width: 740px;
}
#foot_logo_container{
	width: 140px;
}
#foot_info{
 
}
#foot_pic{
	max-width: 100%;
}
.cycle-pager{
	bottom: 120px;
	left: 120px;
}
.cycle-overlay{
	font-size: 15px;
	bottom: 200px;
	left: 120px; 
}

}

@media screen and (max-width: 550px){

#map_pic{
	width: 300px;
}
.text{
	width: 300px;
}
.logo_pic{
	width: 100px;
}
#mobile_nav{
	width: 100px;
}
#navbar_container .container{
	margin: 0;
	width: auto;
}
#nav1 p, #nav2 p{
	font-size: 10px;
	margin-top: 32px;
}
#nav1{
	width: 120px;
	text-align: center;
	margin-left: 0; 
}
#nav2{
	width: 150px;
	text-align: center;
	margin-left: 0;
}
#slideshow_container{
	margin-top: 76px;
	height: auto;
}
.slide_pic{
	height: auto;
}
.cycle-pager{
	top: 60px;
}
#foot_pic{
	width: 275px;
	max-width: none;
	margin-bottom: 1.5em;
}
#footer_container .container{
	margin: 0;
	width: 400px;
}
#foot_logo{
	width: 100px;
	overflow: hidden;
}
#crew_container h1{
	font-size: 21px;
	margin-top: 1em;
}
#crew_header p{
	font-size: 12.5px;
}
#crew_header{
	height: 100px;
}
#crew_head_container{
	margin-left: 1.5em;
}
.profile{
	height: 370px;
}
#foot_logo_container{
	width: 110px;
	margin-top: 0.5em;
}
#foot_info{
	/*width: 120px;*/
	max-width: 275px;
}
#map{
	clear: both;
}
#map h1{
	font-size: 25px;
}
#map_pic{
	margin-bottom: 2.5em;
}
.cycle-pager{
	top: 140px;
	left: 50px;
}
.cycle-overlay{
	font-size: 10px;
	bottom: 80px;
	left: 50px;
	width: 35%; 
}

}




